/* .main {
    display: flex;
    justify-content: center;
}

.title {
        display: flex;
        justify-content: center;
}
        
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*/

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #426A5A;
}

.checklist {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #426A5A;

    }

.todo {
    display: flex;
    justify-content: center;
    background-color: #CAE9C3;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 30px;

}

body {background-color: #8ED081}
    

.add {color: #426A5A;
     background-color: transparent;
     border: none;
     font-size: 20px;
     border-bottom: 2px solid #426A5A;
     padding-top: 20px;
     padding-bottom: 2px;
    
    }

.check {accent-color: #426A5A;
        transform: scale(2);
       
       }

@media (max-width: 600px) 

{
    .checklist
    {font-size: 12px;}

    .todo
    {margin: 0;}

}

#complete {
   margin: 20px;
   padding-top: 6px;
   padding-bottom: 6px;
   background-color: transparent;
   color: #426A5A;
   border: 2px solid #426A5A;
}

#complete:hover {
    background-color: #8ED081;
}

#complete:active {
    color: #8ED081;
    background-color: #426A5A;
}